USE [master]
GO
/****** Object:  Database [DoAnNhom7]    Script Date: 8/17/2023 8:12:50 PM ******/
CREATE DATABASE [DoAnNhom7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnNhom7_primary', FILENAME = N'D:\7 - Xây dựng phần mềm quản lí học sinh của trường THPT Trần Phú\DoAnNhom7_primary.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 10%), 
 FILEGROUP [Nhom7] 
( NAME = N'DBDoAnNhom7_1', FILENAME = N'D:\7 - Xây dựng phần mềm quản lí học sinh của trường THPT Trần Phú\DoAnNhom7_1.ndf' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 10%),
( NAME = N'DBDoAnNhom7_2', FILENAME = N'D:\7 - Xây dựng phần mềm quản lí học sinh của trường THPT Trần Phú\DoAnNhom7_2.ndf' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'DoAnNhom7_Log', FILENAME = N'D:\7 - Xây dựng phần mềm quản lí học sinh của trường THPT Trần Phú\DoAnNhom7_Log.ldf' , SIZE = 1280KB , MAXSIZE = 5120KB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnNhom7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnNhom7]
GO
/****** Object:  DatabaseRole [HOCSINH]    Script Date: 8/17/2023 8:12:51 PM ******/
CREATE ROLE [HOCSINH]
GO
/****** Object:  DatabaseRole [GIAOVIEN]    Script Date: 8/17/2023 8:12:51 PM ******/
CREATE ROLE [GIAOVIEN]
GO
/****** Object:  Schema [GIAOVIEN]    Script Date: 8/17/2023 8:12:51 PM ******/
CREATE SCHEMA [GIAOVIEN]
GO
/****** Object:  Schema [HOCSINH]    Script Date: 8/17/2023 8:12:51 PM ******/
CREATE SCHEMA [HOCSINH]
GO
/****** Object:  UserDefinedFunction [dbo].[fuDemSoLuongHS]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--gọi thực thi
--SELECT *FROM GIAOVIEN
--select*from fuInDanhSachGV ()

--function 2: Tạo function cho biết số lượng học sinh của một lớp với mã lớp là tham số truyền vào
CREATE function [dbo].[fuDemSoLuongHS] (@malop char(10))
returns int 
as 
begin
	declare @dem int;
	select @dem = count(HS.MALOP) 
	from HOCSINH HS
	where HS.MALOP = @malop
	return @dem;
end

--gọi thực thi
GO
/****** Object:  UserDefinedFunction [dbo].[fuInDanhSachGV]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

				  
CREATE FUNCTION [dbo].[fuInDanhSachGV]()
returns @DSGV table (MAGV char(10), TENGV nvarchar(30), GIOITINH nchar(3), NGAYSINH datetime, 
					DIACHI nvarchar(150), SDT varchar(20), MONDAMNHIEM nvarchar(30))
as
begin
	insert into @DSGV (MAGV, TENGV, GIOITINH, NGAYSINH, DIACHI, SDT, MONDAMNHIEM)
	select MAGV, HOTEN, CASE WHEN GV.GIOITINH= 'Nam' then 'Nam' else N'Nữ' 
	END AS GIOITINH, NGAYSINH, DIACHI, DIENTHOAI, TENMH
	from GIAOVIEN GV, MONHOC MH
	where MH.MAMH=GV.MAMH
	return;
end
GO
/****** Object:  UserDefinedFunction [dbo].[fuInDiemThiHS]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from dbo.fuDanhSachHS ('L01')

--select * from dbo.fuDanhSachHS ('L02')

-- function 4 : Viết hàm in điểm thi của học sinh bao gồm tên môn học, học kì, điểm thi miệng, điểm thi 15p, điểm thi 45p
--điểm thi học kì với mã học sinh là tham số truyền vào
Create function [dbo].[fuInDiemThiHS] (@mahs char(10))
returns @DTHS table (tenmonhoc nvarchar(30),hocki char(10), diemmieng float, diem15p float, diem45p float, diemhocki float)
as
begin
	insert into @DTHS (tenmonhoc, hocki, diemmieng, diem15p, diem45p, diemhocki)
	select TENMH, HOCKY, DIEMTHIMIENG, DIEMTHI15P, DIEMTHI1TIET, DIEMTHIHOCKY
	from KETQUA KQ, MONHOC MH
	where KQ.MAMH = MH.MAMH and KQ.MAHS = @mahs
	return;
end
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITNH] [char](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[MALOP] [char](10) NULL,
	[DIACHI] [nvarchar](150) NULL,
	[DIENTHOAI] [varchar](20) NULL,
 CONSTRAINT [PK_MAHS] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fuDanhSachHS]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select dbo.fuDemSoLuongHS ('L01')

--select dbo.fuDemSoLuongHS ('L02')

--function 3 : Viết hàm in ra danh sách học sinh bao gồm mã học sinh, tên học sinh thuộc lớp đó với mã lớp là tham số truyền vào
Create function [dbo].[fuDanhSachHS] (@malop char(10))
returns table 
as 
return
(
	select MAHS, HOTEN
	from HOCSINH HS
	where @malop = HS.MALOP
);

--gọi thực thi
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[GIOITINH] [char](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[MAMH] [char](10) NULL,
 CONSTRAINT [PK_MAGV] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KETQUA]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KETQUA](
	[MAHS] [char](10) NOT NULL,
	[MAMH] [char](10) NOT NULL,
	[HOCKY] [char](10) NOT NULL,
	[DIEMTHIMIENG] [float] NULL,
	[DIEMTHI15P] [float] NULL,
	[DIEMTHI1TIET] [float] NULL,
	[DIEMTHIHOCKY] [float] NULL,
 CONSTRAINT [PK_KETQUA] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[MAMH] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](10) NOT NULL,
	[TENLOP] [nvarchar](10) NULL,
	[SISO] [int] NULL,
 CONSTRAINT [PK_MALOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](10) NOT NULL,
	[TENMH] [nvarchar](30) NULL,
 CONSTRAINT [PK_MAMH] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[LOAITK] [char](2) NULL,
	[TENDANGNHAP] [char](10) NOT NULL,
	[MATKHAU] [varchar](16) NULL,
 CONSTRAINT [PK_TENDANGNHAP] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIKHOABIEUGIAOVIEN]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEUGIAOVIEN](
	[HOCKY] [char](10) NULL,
	[MAGV] [char](10) NULL,
	[TIET] [char](10) NOT NULL,
	[THU_2] [char](10) NULL,
	[THU_3] [char](10) NULL,
	[THU_4] [char](10) NULL,
	[THU_5] [char](10) NULL,
	[THU_6] [char](10) NULL,
	[THU_7] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THOIKHOABIEUHOCSINH]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THOIKHOABIEUHOCSINH](
	[HOCKY] [char](10) NULL,
	[MAHS] [char](10) NULL,
	[TIET] [nchar](10) NOT NULL,
	[THU_2] [nchar](10) NULL,
	[THU_3] [nchar](10) NULL,
	[THU_4] [nchar](10) NULL,
	[THU_5] [nchar](10) NULL,
	[THU_6] [nchar](10) NULL,
	[THU_7] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[TIET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XEPLOAI]    Script Date: 8/17/2023 8:12:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XEPLOAI](
	[MAHS] [char](10) NOT NULL,
	[HOCKY] [char](10) NOT NULL,
	[GPA] [float] NULL,
	[XEPLOAI] [nvarchar](10) NULL,
 CONSTRAINT [PK_MAHS_HK] PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAMH]) VALUES (N'GV00001   ', N'Trần Thị Thương', N'Nu ', CAST(N'1975-01-01T00:00:00.000' AS DateTime), N'109 Võ Văn Tần, phường 4, quận 3, TP Hồ Chí Minh', N'0912321452', N'MH100001  ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAMH]) VALUES (N'GV00002   ', N'Đỗ Văn Nhỏ', N'Nam', CAST(N'1985-11-22T00:00:00.000' AS DateTime), N'112 Nguyễn Trãi, phường 4, quận 5, TP Hồ Chí Minh', N'0772332112', N'MH100002  ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [DIENTHOAI], [MAMH]) VALUES (N'GV00003   ', N'Nguyễn Công Phương', N'Nam', CAST(N'1980-11-25T00:00:00.000' AS DateTime), N'Chung Cu Gò Dầu 2, phường Tân Sơn Nhì, quận Tân Phú, TP Hồ Chí Minh', N'0913114252', N'MH100003  ')
GO
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITNH], [NGAYSINH], [MALOP], [DIACHI], [DIENTHOAI]) VALUES (N'10HS00001 ', N'Lâm Bích Vân', N'Nu ', CAST(N'2008-01-01T00:00:00.000' AS DateTime), N'L01       ', N'110 Võ Văn Tần, phường 4, quận 3, TP Hồ Chí Minh', N'0913211452')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITNH], [NGAYSINH], [MALOP], [DIACHI], [DIENTHOAI]) VALUES (N'10HS00002 ', N'Nguyễn Thị Hồng', N'Nu ', CAST(N'2008-01-20T00:00:00.000' AS DateTime), N'L01       ', N'200 An Dương Vương, phường 4, quận 5, TP Hồ Chí Minh', N'0975112352')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITNH], [NGAYSINH], [MALOP], [DIACHI], [DIENTHOAI]) VALUES (N'10HS00003 ', N'Huỳnh Đức Hiếu', N'Nam', CAST(N'2008-08-25T00:00:00.000' AS DateTime), N'L02       ', N'351 Lạc Long Quân, phường 5, quận 51, TP Hồ Chí Minh', N'0772556391')
GO
INSERT [dbo].[KETQUA] ([MAHS], [MAMH], [HOCKY], [DIEMTHIMIENG], [DIEMTHI15P], [DIEMTHI1TIET], [DIEMTHIHOCKY]) VALUES (N'10HS00001 ', N'MH100001  ', N'1         ', 9.5, 10, 8.8, 10)
INSERT [dbo].[KETQUA] ([MAHS], [MAMH], [HOCKY], [DIEMTHIMIENG], [DIEMTHI15P], [DIEMTHI1TIET], [DIEMTHIHOCKY]) VALUES (N'10HS00001 ', N'MH100002  ', N'1         ', 4.5, 3.5, 8, 9.5)
INSERT [dbo].[KETQUA] ([MAHS], [MAMH], [HOCKY], [DIEMTHIMIENG], [DIEMTHI15P], [DIEMTHI1TIET], [DIEMTHIHOCKY]) VALUES (N'10HS00001 ', N'MH100003  ', N'1         ', 10, 10, 8.8, 10)
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L01       ', N'10/1', 2)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L02       ', N'10/2', 2)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [SISO]) VALUES (N'L03       ', N'10/3', 2)
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH100001  ', N'Toán')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH100002  ', N'Văn')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'MH100003  ', N'Anh')
GO
INSERT [dbo].[TAIKHOAN] ([LOAITK], [TENDANGNHAP], [MATKHAU]) VALUES (N'HS', N'10HS00001 ', N'01/01/2008')
INSERT [dbo].[TAIKHOAN] ([LOAITK], [TENDANGNHAP], [MATKHAU]) VALUES (N'HS', N'10HS00002 ', N'20/01/2008')
INSERT [dbo].[TAIKHOAN] ([LOAITK], [TENDANGNHAP], [MATKHAU]) VALUES (N'HS', N'10HS00003 ', N'25/08/2008')
GO
INSERT [dbo].[THOIKHOABIEUGIAOVIEN] ([HOCKY], [MAGV], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'GV00001   ', N'Tiet 1    ', N'10/1      ', N'10/2      ', N'10/3      ', NULL, N'10/1      ', N'10/2      ')
INSERT [dbo].[THOIKHOABIEUGIAOVIEN] ([HOCKY], [MAGV], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'GV00001   ', N'Tiet 2    ', N'10/1      ', N'10/2      ', N'10/3      ', NULL, N'10/1      ', N'10/2      ')
INSERT [dbo].[THOIKHOABIEUGIAOVIEN] ([HOCKY], [MAGV], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'GV00001   ', N'Tiet 3    ', N'10/3      ', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[THOIKHOABIEUHOCSINH] ([HOCKY], [MAHS], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'10HS00001 ', N'Tiet 1    ', N'Toán      ', N'Ngữ văn   ', N'Tiếng Anh ', N'Toán      ', N'Tiếng Pháp', N'Tin học   ')
INSERT [dbo].[THOIKHOABIEUHOCSINH] ([HOCKY], [MAHS], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'10HS00001 ', N'Tiet 2    ', N'Toán      ', N'Ngữ văn   ', N'Tiếng Anh ', N'Vật lí    ', N'Tiếng Pháp', N'Tin học   ')
INSERT [dbo].[THOIKHOABIEUHOCSINH] ([HOCKY], [MAHS], [TIET], [THU_2], [THU_3], [THU_4], [THU_5], [THU_6], [THU_7]) VALUES (N'1         ', N'10HS00001 ', N'Tiet 3    ', N'Địa lý    ', N'Tin học   ', N'Lịch sử   ', N'Vật lí    ', N'Hóa học   ', N'Tin học   ')
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_MAMH]
GO
ALTER TABLE [dbo].[HOCSINH]  WITH CHECK ADD  CONSTRAINT [FK_MALOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[HOCSINH] CHECK CONSTRAINT [FK_MALOP]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [PK_KQ_MAHS] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [PK_KQ_MAHS]
GO
ALTER TABLE [dbo].[KETQUA]  WITH CHECK ADD  CONSTRAINT [PK_KQ_MAMH] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[KETQUA] CHECK CONSTRAINT [PK_KQ_MAMH]
GO
ALTER TABLE [dbo].[THOIKHOABIEUGIAOVIEN]  WITH CHECK ADD  CONSTRAINT [PK_MAGV_TKB] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[THOIKHOABIEUGIAOVIEN] CHECK CONSTRAINT [PK_MAGV_TKB]
GO
ALTER TABLE [dbo].[THOIKHOABIEUHOCSINH]  WITH CHECK ADD  CONSTRAINT [PK_MAHS_TKB] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[THOIKHOABIEUHOCSINH] CHECK CONSTRAINT [PK_MAHS_TKB]
GO
ALTER TABLE [dbo].[XEPLOAI]  WITH CHECK ADD  CONSTRAINT [PK_HS_MAHS] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[XEPLOAI] CHECK CONSTRAINT [PK_HS_MAHS]
GO
/****** Object:  StoredProcedure [dbo].[Cap_nhat_thong_tin_giao_vien]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Cap_nhat_thong_tin_giao_vien] 
	@MAGV CHAR(10),
	@HOTEN NVARCHAR(30),
	@GIOITINH CHAR(3),
	@NGAYSINH DATETIME,
	@DIENTHOAI VARCHAR(20),
	@DIACHI VARCHAR(150)
AS
BEGIN
	UPDATE GIAOVIEN
	SET HOTEN=@HOTEN, GIOITINH=@GIOITINH,NGAYSINH=@NGAYSINH,DIENTHOAI=@DIENTHOAI,DIACHI=@DIACHI
	WHERE MAGV = @MAGV;
	if @@ROWCOUNT >0 RETURN 1
	ELSE RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Cap_nhat_thong_tin_hoc_sinh]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--EXEC Them_moi_hoc_sinh '10HS00012',N'Trần Thị Ánh Dương','10/1','Nữ','22/2/2008','0913477858','112 Hùng Vương, phường 4, quận 5, Tp Hồ Chí Minh'
-- Cập nhật thông tin học sinh

CREATE PROC [dbo].[Cap_nhat_thong_tin_hoc_sinh] 
	@MAHS CHAR(10),
	@HOTEN NVARCHAR(30),
	@TENLOP NVARCHAR(10), 
	@GIOITINH CHAR(3),
	@NGAYSINH DATETIME,
	@DIENTHOAI VARCHAR(20),
	@DIACHI VARCHAR(150)
AS
BEGIN
	UPDATE HOCSINH
	SET HOTEN=@HOTEN, MALOP=(SELECT MALOP FROM LOP WHERE TENLOP=@TENLOP), GIOITNH=@GIOITINH,NGAYSINH=@NGAYSINH,DIENTHOAI=@DIENTHOAI,DIACHI=@DIACHI
	WHERE MAHS =@MAHS;
	if @@ROWCOUNT >0 RETURN 1
	ELSE RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[CheckLogin]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC SELECTHS '10HS00010'


-- Check dang nhap
CREATE PROC [dbo].[CheckLogin] @LOAITK CHAR(2), @MAHS CHAR(10), @MATKHAU CHAR(10)
AS
BEGIN
	SELECT 1 AS 'TRANGTHAI' FROM TAIKHOAN WHERE LOAITK = @LOAITK AND @MAHS = TAIKHOAN.TENDANGNHAP AND @MATKHAU = MATKHAU;
END
GO
/****** Object:  StoredProcedure [dbo].[IN_CAC_LOP_GIAO_VIEN_DAY]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- In danh sách các lơp giáo viên dạy
CREATE PROC [dbo].[IN_CAC_LOP_GIAO_VIEN_DAY] @MAGV CHAR(10)
AS
BEGIN
	SELECT TIET,THU_2,THU_3,THU_4,THU_5,THU_6,THU_7 FROM THOIKHOABIEUGIAOVIEN WHERE MAGV=@MAGV
END
--EXEC IN_CAC_LOP_GIAO_VIEN_DAY 'GV00001'
GO
/****** Object:  StoredProcedure [dbo].[IN_DANH_SACH_HOC_SINH]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[IN_DANH_SACH_HOC_SINH]
AS
BEGIN
	SELECT MAHS, HOTEN, (SELECT TENLOP FROM LOP WHERE HOCSINH.MALOP = LOP.MALOP) AS TEN_LOP, GIOITNH AS GIOI_TINH, CONVERT(VARCHAR(10),NGAYSINH,103), DIENTHOAI, DIACHI FROM HOCSINH
END
--EXEC IN_DANH_SACH_HOC_SINH
GO
/****** Object:  StoredProcedure [dbo].[IN_TKB_HOCSINH]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--In tkb HS
CREATE PROC [dbo].[IN_TKB_HOCSINH] @MAHS CHAR(10)
AS
BEGIN
	SELECT TIET, THU_2,THU_3,THU_4,THU_5,THU_6,THU_7 FROM THOIKHOABIEUHOCSINH WHERE MAHS=@MAHS
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTGV]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Hien thi thong tin chi tiet cua giao vien
CREATE PROC [dbo].[SELECTGV]
	@MAGV CHAR(10)
AS
BEGIN	
	SELECT MAGV, HOTEN, GIOITINH,
	CONVERT (VARCHAR(10),NGAYSINH,103) AS NGAYSINH,DIENTHOAI,DIACHI 
	FROM GIAOVIEN
	WHERE MAGV=@MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTHS]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SELECT * FROM HOCSINH	
--EXEC Cap_nhat_thong_tin_hoc_sinh'10HS00010',N'Trần Thị Ánh Dương','10/2','Nu','22/1/2008','0905321332','221 Hùng Vương, phường 4, quận 5, TP Hồ Chí Minh'


-- Hiển thị thông tin chi tiết của hoc sinh
CREATE PROC [dbo].[SELECTHS]
	@MAHS CHAR(10)
AS
BEGIN	
	SELECT MAHS, HOTEN, (SELECT TENLOP FROM LOP WHERE LOP.MALOP=HOCSINH.MALOP) AS TENLOP, 
	CASE WHEN GIOITNH= 'Nam' then 'Nam' else N'Nữ' 
	END AS GIOITINH,
	CONVERT (VARCHAR(10),NGAYSINH,103) AS NGAYSINH,DIENTHOAI,DIACHI 
	FROM HOCSINH
	WHERE MAHS=@MAHS
END
GO
/****** Object:  StoredProcedure [dbo].[Them_moi_giao_vien]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Them_moi_giao_vien] 
	@MSGV CHAR(10),
	@HOTEN NVARCHAR(30), 
	@GIOITINH NCHAR(3),
	@NGAYSINH DATETIME,
	@DIENTHOAI VARCHAR(20),
	@DIACHI NVARCHAR(150)
AS
BEGIN
	INSERT INTO GIAOVIEN
	(
		MAGV,HOTEN,GIOITINH,NGAYSINH,DIENTHOAI,DIACHI
	)
	VALUES
	(
		@MSGV,
		@HOTEN,
		@GIOITINH,
		@NGAYSINH,
		@DIENTHOAI,
		@DIACHI
	)
	if @@ROWCOUNT >0 RETURN 1
	ELSE RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Them_moi_hoc_sinh]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Thêm mới học sinh
CREATE PROC [dbo].[Them_moi_hoc_sinh] 
	@MSHS CHAR(10),
	@HOTEN NVARCHAR(30),
	@TENLOP NVARCHAR(10), 
	@GIOITINH CHAR(3),
	@NGAYSINH DATETIME,
	@DIENTHOAI VARCHAR(20),
	@DIACHI VARCHAR(150)
AS
BEGIN
	DECLARE @MALOP CHAR(10);
	SET @MALOP= (SELECT MALOP FROM LOP WHERE TENLOP=@TENLOP);
	INSERT INTO HOCSINH
	(
		MAHS,HOTEN,MALOP,GIOITNH,NGAYSINH,DIENTHOAI,DIACHI
	)
	VALUES
	(
		@MSHS,
		@HOTEN,
		@MALOP,
		@GIOITINH,
		@NGAYSINH,
		@DIENTHOAI,
		@DIACHI
	)
	if @@ROWCOUNT >0 RETURN 1
	ELSE RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[Tra_cuu_diem]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Tra_cuu_diem] @MAHS CHAR(10)
AS
BEGIN

	SELECT (SELECT TENMH FROM MONHOC WHERE MONHOC.MAMH=KETQUA.MAMH) AS MON_HOC,DIEMTHIMIENG,DIEMTHI15P,DIEMTHI1TIET,DIEMTHIHOCKY
	FROM KETQUA
	WHERE MAHS=@MAHS
END

--EXEC Tra_cuu_diem '10HS00001'
GO
/****** Object:  StoredProcedure [dbo].[XOA_GV]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--EXEC IN_TKB_HOCSINH '10HS00001'
CREATE PROC [dbo].[XOA_GV] @MAGV CHAR(10)
AS
BEGIN
	DELETE FROM TAIKHOAN WHERE TENDANGNHAP = @MAGV; 
	DELETE FROM THOIKHOABIEUGIAOVIEN WHERE MAGV = @MAGV;
	DELETE FROM GIAOVIEN WHERE MAGV = @MAGV;
END
GO
/****** Object:  StoredProcedure [dbo].[XOA_HS]    Script Date: 8/17/2023 8:13:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[XOA_HS] @MAHS CHAR(10)
AS
BEGIN
	DELETE FROM TAIKHOAN WHERE TENDANGNHAP = @MAHS; 
	DELETE FROM THOIKHOABIEUHOCSINH WHERE MAHS = @MAHS;
	DELETE FROM KETQUA WHERE MAHS = @MAHS;
	DELETE FROM XEPLOAI WHERE MAHS = @MAHS;
	DELETE FROM HOCSINH WHERE MAHS = @MAHS;
END
GO
USE [master]
GO
